<html>

	<head>
		<title>Chat Room</title>
		<link rel="stylesheet" type="text/css" href="https://github.com/naman-verma-01/chat-app/blob/main/templates/style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	</head>


	<body style="linear-gradient(225deg,#bdc3c7 ,#2c3e50);"	>
		<div id="chat-box">
			<p>Chat will show here....<br><br></p>
			<div id="chat" > </div>
			<div id="input-area">
				<input style="align: center;" id="chat-input" type="text"> 
				
				<button id="submit" style="float: right;" onclick="sendMessage()">Send Message</button>
				
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
		<script>
			socket = io()
			function sendMessage () {
				socket.emit("message",document.getElementById("chat-input").value)
			}
			socket.on("new_message",(data)=>{
				document.getElementById("chat").innerHTML+="<br>"+data;
			})
		</script>
	</body>
</html>
